body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: #103245;
  font-family: 'Rubik', sans-serif;
}

html {
  overflow-x: hidden;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a:hover {
  text-decoration: none;
}

p,
h6,
a {
  font-size: 18px;
}

.form-control {
  background: #fff;
  border-radius: 30px;
  height: 50px;
  border: solid 1px #e8e8e8;
  font-size: 14px;
}

.form-control:focus {
  box-shadow: none;
  outline: none;
  color: #000;
  border: 1px solid #ff0083 !important;
}

.form-group {
  margin-bottom: 10px;
}

img {
  max-width: 100%;
}

.btn {
  padding: 15px 35px;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 300;
  height: 52px;
  line-height: 1;
  transition: all 0.2s;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.btn-primary {
  border-color: #ff0083;
  box-shadow: -14.8px 17.6px 46px 0 rgba(254, 58, 122, 0.3);
  background-color: #ff0083;
  color: #fff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background: #009dd6;
  border-color: #009dd6;
}

.btn-outline-primary {
  border: 3px solid #ff0083;
  color: #002c4c;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active {
  border: 3px solid #ff0083;
  background: #ff0083;
  color: #fff;
}

.text-primary {
  color: #009dd6 !important;
}

.text-danger {
  color: #ff0083 !important;
}

.owl-carousel-vertical{
  transform: rotate3d(0, 0, 1, 90deg);
}
.owl-carousel-vertical .item{
  transform: rotate3d(0, 0, 1, -90deg);
}

/* header*/

header {
  background: #fff;
}

header img {
  max-width: 200px;
}

header .navbar-light .navbar-nav.navbar-center .active>.nav-link,
header .navbar-light .navbar-nav.navbar-center .nav-item:hover .nav-link {
  color: #ff0083;
}

header .navbar-light .navbar-nav .nav-link {
  color: #002c4c;
  text-transform: uppercase;
  padding: 15px 0;
  position: relative;
}

header .navbar-light .navbar-nav .nav-item {
  padding: 0 15px;
}

header .navbar-light .navbar-nav .nav-item:first-child {
  padding-right: 0;
}

header .btn {
  box-shadow: none;
  padding: 15px 15px;
  font-size: 16px;
  z-index: 99;
  position: relative;
}

header .navbar-brand img {
  max-width: 140px;
  margin-left: 128px;
}

.main-heading {
  font-weight: 700;
  color: #002c4c;
  font-size: 45px;
  margin-bottom: 20px;
  line-height: 40px;
}


/* Hero */

.hero-section {
  padding: 20px 0;
}

.hero-section h2 {
  color: #002c4c;
  margin-bottom: 15px;
}

.hero-section h6 {
  font-size: 18px;
  line-height: 1;
}

.owl-nav button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #103245 !important;
  margin: 0;
  font-size: 30px !important;
  font-weight: 900;
  transition: all 0.3s ease-in-out;
}

.owl-nav button.owl-prev {
  left: -40px;
}

.owl-nav button.owl-next {
  right: -40px;
}

.shape-1,
.shape-2,
.shape-4,
.shape-5 {
  position: relative;
}


/* Shape 1 */

.shape-1 .shape-left-1 {
  background-size: contain;
  height: 100%;
  position: absolute;
  width: 100px;
  left: 0;
  top: -125px;
  z-index: -10;
  background-repeat: no-repeat;
}


.shape-1 .shape-left-2 {
  background-size: contain;
  height: 100%;
  position: absolute;
  width: 100px;
  right: 96px;
  top: 6px;
  z-index: -5;
  background-repeat: no-repeat;
}



/* Shape 2 */

.shape-2 .shape-top-2 {
  content: "";
  background-image: url(../../assets/images/shape-2/1.png);
  background-size: contain;
  height: 100%;
  position: absolute;
  width: 340px;
  left: 0px;
  top: 128px;
  z-index: -5;
  background-repeat: no-repeat;
}


.shape-2 .shape-left-2 {
  background-size: contain;
  height: 100%;
  position: absolute;
  width: 7px;
  right: 25px;
  top: 0px;
  z-index: -10;
  background-repeat: no-repeat;
}



/* Shape 3 */

.shape-3 .shape-bottom-3 {
  background-size: contain;
  height: 100%;
  position: absolute;
  width: 93px;
  left: -7px;
  top: 279px;
  z-index: -5;
  background-repeat: no-repeat;
}



.shape-3 .shape-right-3 {
  background-size: contain;
  height: 100%;
  position: absolute;
  width: 5px;
  right: 146px;
  top: 121px;
  z-index: -10;
  background-repeat: no-repeat;
}



/* Shape 4 */

.shape-4 .shape-top-4 {
  background-size: contain;
  height: 100%;
  position: absolute;
  width: 150px;
  left: 56px;
  top: 2px;
  z-index: -5;
  background-repeat: no-repeat;
}


.shape-4 .shape-left-4 {
  background-size: contain;
  height: 55px;
  position: absolute;
  width: 650px;
  right: -150px;
  top: 36px;
  z-index: -10;
  background-repeat: no-repeat;
}



/* Shape 4 */

.shape-5 .shape-left-5 {
  background-size: contain;
  height: 100%;
  position: absolute;
  width: 370px;
  right: 80px;
  top: 100px;
  z-index: -5;
  background-repeat: no-repeat;
}


.shape-5 .shape-circle-5 {
  background-size: cover;
  height: 120px;
  position: absolute;
  width: 120px;
  left: -26px;
  top: 24px;
  z-index: -10;
  background-repeat: no-repeat;
}


/* Guarantee */

.guarantee-section {
  padding: 90px 0 50px;
}

.guarantee-section .nav-pills {
  margin-bottom: 30px;
}

.guarantee-section .nav-pills .nav-link {
  border-bottom: 3px solid #fff;
  border-radius: 0;
  color: #103245;
  padding: 4px 20px;
}

.guarantee-section .nav-pills .nav-link.active {
  background: transparent;
  color: #103245;
  font-weight: 600;
  border-bottom: 3px solid #ff0083;
}

.guarantee-section .nav-pills .nav-link img {
  display: block;
  margin: 0 auto 5px;
  width: 16px;
}

.guarantee-section h6 {
  font-weight: 800;
  line-height: 1.33;
  margin: 15px 0;
}

.guarantee-section p {
  line-height: 1.67;
}

.guarantee-section p img {
  width: 69px;
}


/* Payment */

.payment-section {
  padding: 40px 0;
}

.payment-section .payment-block {
  border-radius: 20px;
  border: solid 5px #103143;
  padding: 60px 30px;
}

.payment-section img {
  position: absolute;
  top: 166px;
  left: -18px;
}

.payment-section p {
  line-height: 1.33;
  font-weight: 300;
}

.payment-section .payment-block p strong {
  font-weight: 800;
}


/* Service */

.service-section {
  padding: 30px 0 50px;
}

.service-section .card {
  border-radius: 30px;
  border: solid 7px #fafafa;
  text-align: center;
  margin-bottom: 15px;
}

.service-section .card img {
  max-width: 30px;
}

.service-section .card-body {
  padding: 20px 15px;
}

.service-section .card h5 {
  margin-top: 20px;
  margin-bottom: 0px;
  font-weight: 600;
  line-height: 1.33;
  font-weight: 800;
}


.service-section p {
  font-size: 16px;
}

/* How its work */

.how-works {
  padding: 60px 0;
}

.how-works .card {
  border-radius: 30px;
  border: solid 7px #fafafa;
  min-height: 230px;
}

.how-works .card-body {
  padding: 40px 15px;
}

.how-works .card h6 {
  font-weight: 800;
  text-align: center;
  line-height: 1.25;
  margin-top: 15px;
  font-size: 24px;
}

.how-works .item img {
  margin: 0 auto;
  height: 28px;
  object-fit: contain;
}


/* Customer Section */

.customer-section {
  padding: 60px 0;
}

.customer-section .card {
  border-radius: 30px;
  border: solid 7px #fafafa;
}

.customer-section .card-body {
  padding: 35px 20px;
}

.customer-section .owl-carousel .owl-item img {
  max-width: 30px;
  margin: 0 auto 20px;
}

.customer-section p {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.86;
  margin-bottom: 0;
}

.customer-section h6 {
  font-weight: 300;
  line-height: 1.25;
}

.customer-section h4 {
  font-weight: 800;
  line-height: 1.33;
}

.harel-img {
  max-width: 150px;
}


/* How works */

.how-works {
  padding: 50px 0;
}


/* Our Partner */

.partner-section {
  padding: 50px 0;
}

.partner-section .inner-block {
  border-radius: 100px 30px 30px 100px;
  border: solid 7px #fafafa;
  padding: 10px 50px;
  margin-left: 150px;
}

.partner-section .shape-4 {
  right: 150px;
}


/* Owner */

.owner-section {
  padding: 30px 0;
}

.owner-section p {
  font-size: 20px;
}

main {
  position: relative;
  z-index: 10;
  background: #fff;
}


/* Footer */

footer {
  padding: 80px 0;
}

footer p {
  font-size: 14px;
  line-height: 1.57;
}

footer h6 {
  font-size: 14px;
}

footer .footer-link {
  display: flex;
  justify-content: center;
}

footer .footer-link li {
  padding: 8px 15px;
}

footer .footer-link li a {
  font-weight: 600;
  color: #103245;
  font-size: 18px;
  line-height: 36px;
}

.copy-right p {
  font-size: 14px;
  margin-bottom: 0;
  padding: 10px 0;
  color: #939598;
}

.copy-right img {
  position: relative;
  top: -3px;
}

.social-link li {
  display: inline-block;
  padding: 0 10px !important;
}


/* Modal */

.modal .modal-content {
  border-radius: 0;
  border: none;
  padding: 20px;
}

.modal .close {
  color: #dc0073;
  opacity: 1;
  -webkit-text-stroke: 3px #fff;
}

.modal .close:hover {
  color: #009dd6;
}

.modal .modal-header img {
  max-width: 98px;
  margin-top: -65px;
}

.modal.left .modal-dialog,
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  max-width: 320px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
  padding: 15px 15px 80px;
}


/*Left*/

.modal.left.fade .modal-dialog {
  left: -320px;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
  -o-transition: opacity 0.3s linear, left 0.3s ease-out;
  transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.show .modal-dialog {
  left: 0;
}

.social-link img {
  height: 45px;
  object-fit: contain;
}

.guarantee-section .nav-pills .nav-link {
  border-bottom: 2px solid #f1f1f1;
}

.guarantee-section .nav-pills .nav-link:hover {
  border-bottom: 2px solid #ff0083;
}


.myslider .item {
  width: 100%;
  position: relative;
}


/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}


.form-box {
  padding: 30px 0;
}

.form-box .form-control {
  height: 59px;
}

.floating-label::before {
  top: -6px;
}


.form-box .logo {
  max-width: 145px;
}


.form-box h2 {
  font-size: 36px;
  font-weight: 700;
  color: #002c4c;
  line-height: 1;
}

.form-box h5 {
  font-size: 24px;
  color: #002c4c;
  font-weight: 300;
  margin-bottom: 25px;
}

.form-box h6 {
  font-size: 18px;
  color: #002c4c;
  font-weight: 600;
  line-height: 1.33;
}

.form-box .form-wizard-buttons .btn {
  min-width: 300px;
  max-width: 300px;
  font-size: 22px;
  padding: 8px 30px;
  height: 59px;
  font-weight: 500;
}


.form-box .bottom-link {
  margin-top: 25px;
}
.form-box .bottom-link a {
  font-size: 14px;
  color: #002c4c;
  text-decoration: underline;
}


.form-box .bottom-link a:hover {
  color: #009dd6;
}

.form-wizard {
  text-align: center;
}

.form-wizard-steps{ 
  margin:auto; 
  overflow: hidden; 
  position: relative; 
  margin-bottom: 40px;
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

.form-wizard-step {
  padding-top:10px !important;
  /*border:2px solid #fff;*/
}
.form-wizard-step.active{
  /*background:#ea2803;*/
}

.form-wizard-step .check-mark,
.form-wizard-step .number-pink {
  display: none;
}

.form-wizard-step.activated .check-mark {
  display: inline-block;
  /*background:#ea2803;*/
}

.form-wizard-step.activated .number-count {
  display: none;
}

.form-wizard-step.active .number-gray {
  display: none;
}

.form-wizard-step.active .number-pink {
  display: inline-block;

}


.form-wizard-progress { 
  position: absolute; 
  top: 36px;
  left: 0; 
  width: 100%; 
  height: 0px; 
  background: #ea2803;
}
.form-wizard-progress-line { 
  position: absolute; 
  top: 0; 
  left: 0; 
  height: 0px; 
  background: #ea2803; 
}

.form-wizard-tolal-steps-3 .form-wizard-step { 
  position: relative;
  padding: 0 5px; 
}
.form-wizard-tolal-steps-4 .form-wizard-step { 
  position: relative; 
  /*float: left; */
  /*width: 25%; */
  padding: 0 15px; 
}
.form-wizard-tolal-steps-5 .form-wizard-step { 
  position: relative;
  padding: 0 5px;
}

.form-wizard-step-icon {
  display: inline-block;
  width: 40px; 
  height: 40px; 
  margin-top: 4px; 
  background: #ddd;
  font-size: 16px; 
  color: #777; 
  line-height: 40px;
}
.form-wizard-step.activated .form-wizard-step-icon {
  background: #ea2803; 
  border: 1px solid #fff; 
  color: #fff; 
  line-height: 38px;
}
.form-wizard-step.active .form-wizard-step-icon {
  background: #fff; 
  border: 1px solid #fff; 
  color: #ea2803; 
  line-height: 38px;
}

.form-wizard-step p { 
  color: #002c4c;
  font-size: 14px;
  line-height: 15px;
  margin-top: 5px;
}

.form-wizard-step .number-count img {
  height: 18px;
}

.form-wizard-step .number-count img {
  height: 18px;
}


.form-wizard-step.activated p {
  font-weight: 400;
  
}
.form-wizard-step.active p {
  font-weight: 700;
}

.form-wizard fieldset { 
  display: none; 
  border:0px !important
}

.form-wizard .input-error { border-color: #ea2803;}


#preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999999;
  overflow: hidden;
  background: #fff;

}

#preloader img {
 position: fixed;
 top: calc(50% - 65px);
 left: calc(50% - 125px);
 max-width: 250px;
}


.wrap {
  /*width: 500px;*/
  /*margin: auto;*/
  /*position: absolute;*/
  /*top: 50%;*/
  /*left: 50%;*/
  /*transform: translate(-50%, -50%);*/
  border-radius: 30px;
  /*box-shadow: 0 0 0 0.5px #e8e8e8, inset 0 0 0 0.5px #e8e8e8, inset 0 0 0 1px #e8e8e8;*/
  background-color: #fff;
  padding: 10px 20px;
  margin-bottom: 30px;
  border: 2px dashed #e8e8e8;
}

.file {
  position: relative;
  /*max-width: 22.5rem;*/
  font-size: 1.0625rem;
  font-weight: 600;
}
.file__input, .file__value {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  color: #002c4c;
  padding: 0 15px;
}
.file__input--file {
  position: absolute;
  opacity: 0;
}
.file__input--label {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 0;
  cursor: pointer;
  font-size: 14px;
  position: relative;
}

.file__input--label:after {
 content: "העלאת קובץ ";
 border-radius: 3px;
 background-color: #fff;
 /* box-shadow: 0 2px 2px 0 rgb(0 0 0 / 18%); */
 padding: 8px 15px;
 margin: -0.9375rem -1.0625rem;
 color: #e60077;
 border-radius: 30px;
 border: solid 1px rgba(255, 0, 131, 0.21);
 cursor: pointer;
 font-size: 14px;
 font-weight: 600;
     margin-right: 140px;
     margin-left: 30px;
     padding-right: 25px;
}

.file__input--label:before {
  content: "";
  background-image: url('../../assets/images/upload.png');
    position: absolute;
    top: 14px;
    left: 125px;
    height: 12px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 12px;
    background-position: center;
} 

.file__value {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #002c4c;
  border-radius: 30px;
  background-color: #fafafa;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 15px;
  margin-top: 4px;

}
.file__value:hover:after {
  color: #002c4c;
}
.file__value:after {
  content: "\f00d";
  cursor: pointer;
  font: normal normal normal 14px/1 FontAwesome;
  color: #e60077;
}
.file__value:after:hover {
  color: #002c4c;
}
.file__remove {
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #000;
}

.backward-arrow {
  font-size: 14px;
  color: #e60077;
  font-weight: 700;
  float: right;
  position: relative;
  top: 113px;
}

.backward-arrow:hover {
  color: #009dd6;
}

.backward-arrow i {
  font-size: 12px;
  margin-left: 3px;
}

.form-box .form-group {
  margin-bottom: 20px;
}

.info-icon {
     position: absolute;
    top: 11px;
    left: 0px;
}



.floating-input .control-label {
    font-size: 18px;
    font-weight: 400;
    opacity: 1;
    pointer-events: none;
    position: absolute;
    transform: translate3d(0, 14px, 0) scale(1);
    transform-origin: center top;
    transition: 240ms;
    line-height: 35px;
        left: 0;
    width: 100%;
    color: #002c4c;
}

.form-group.floating-input.focused .control-label {
    opacity: 1;
    transform: scale(0.7);
    color: #002c4c;
    font-weight: 700;
}


.floating-input .form-control::-webkit-input-placeholder {
    color: transparent;
    transition: 240ms;
}

.floating-input .form-control:focus::-webkit-input-placeholder {
    transition: none;
}

.form-group.floating-input.focused .form-control::-webkit-input-placeholder {
    color: #bbb;
}

select {
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e") !important;
    background-repeat: no-repeat !important;
    background-position: left 1.1rem center !important;
    background-size: 1em !important;
}

/* CSS from Bootstrap Start */
.floating-input .form-control {
  text-align: center;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  font-size: 16px;
}

.floating-input .form-control::-moz-placeholder {
  color: #bbbbbb;
  opacity: 1;
}
.floating-input .form-control:-ms-input-placeholder {
  color: #bbbbbb;
}
.floating-input .form-control::-webkit-input-placeholder {
  color: #bbbbbb;
}
.floating-input .form-control::-ms-expand {
  border: 0;
  background-color: transparent;
}




.up-in-toggle {
  background: #fff;
  border: solid 1px #e8e8e8;
  height: 61px;
  width: 100%;
  border-radius: 30px;
  display: flex;
}
.up-in-toggle input {
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;

}
.up-in-toggle input:checked + label {
  background: #fff;
  font-weight: 600;
  border: solid 1px #002c4c;
}
.up-in-toggle label {
  display: inline-block;
  width: 50%;
    height: 59px;
  background-color: #fff;
  color: #002c4c;
  text-align: center;
  font-size: 18px;
  padding: 16px 6px;
  float: left;
  transition: all 0.1s ease-in-out;
}
.up-in-toggle label:hover {
  cursor: pointer;
}

.up-in-toggle label:first-of-type {
  border-radius: 30px;
}

.up-in-toggle label:last-of-type {
  border-radius: 30px;
}

.step-3 .file__input--label {
  font-size: 13px;
    line-height: 14px;
    font-weight: 300;
}

.step-3 .file__input--label:after {
    padding: 11px 25px 11px 15px;
  }

  .step-3 .info-icon {
    position: absolute;
    top: 11px;

}

/* Media Query */

@media (min-width: 1700px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1600px;
  }
  header .navbar-brand img {
    max-width: 207px;
    margin-left: 150px;
  }
  header .navbar-light .navbar-nav .nav-item {
    padding: 0 25px;
  }
  header .btn {
    padding: 17px 24px;
    font-size: 18px;
    height: 66px;
    line-height: 1.33;
  }
  .btn-outline-primary {
    border: 4px solid #ff0083;
  }
  .btn-outline-primary:hover,
  .btn-outline-primary:focus,
  .btn-outline-primary:active {
    border: 4px solid #ff0083;
  }
  .main-heading {
    font-size: 70px;
    line-height: 0.93;
    font-weight: bold;
  }
  .sub-heading {
    font-size: 18px;
    font-weight: bold !important;
    line-height: 1.33;
  }
  p,
  h6,
  a {
    font-size: 24px;
    line-height: 1;
  }
  .hero-section h6 {
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 12px;
  }
  .hero-section p {
    line-height: 1;
    font-weight: 300;
    margin-top: 10px;
  }
  .btn {
    height: 69px;
    padding: 20px 50px;
    font-size: 24px;
    border-radius: 45px;
    line-height: 1;
    font-weight: 300;
  }
  .customer-section h2 img {
    position: relative;
    top: 8px;
  }
  .owner-section p {
    line-height: 1.33;
    font-size: 36px;
    font-weight: 100;
  }
  .guarantee-section h6 {
    font-weight: bold;
    line-height: 1;
    margin: 18px 0;
  }
  .guarantee-section p {
    line-height: 1.5;
    font-weight: 300;
  }
  .guarantee-section p img {
    position: relative;
    top: -2px;
  }
  .service-section .card,
  .how-works .card,
  .customer-section .card {
    border-radius: 30px;
    border: solid 8px #fafafa;
  }
  .service-section .card {
    max-height: 265px;
  }
  .service-section .card-body {
    padding: 40px 20px;
  }
  .service-section .card-body h5 {
    font-weight: 800;
    font-size: 24px;
    line-height: 1.5;
    margin-top: 30px;
    margin-bottom: 0;
  }
  .service-section .card-body p {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.5;
  }
  .how-works .btn {
    min-width: 250px;
  }
  header .navbar-light .navbar-nav .nav-link {
    font-size: 18px;
    line-height: 1.33;
    font-weight: 300;
  }
  .partner-section .inner-block {
    margin-left: 220px;
    padding: 50px 90px;
  }
  .partner-section .shape-4 {
    right: 312px;
  }
  .guarantee-section .nav-pills .nav-link {
    font-size: 24px;
    padding: 4px 35px;
    line-height: 1.42;
  }
  .guarantee-section .nav-pills .nav-item img {
    width: 25px;
  }
  .guarantee-section .nav-pills .nav-item:first-child img {
    width: 27px;
  }
  .how-works .item img {
    height: 35px;
  }
  .partner-section .inner-block {
    border-radius: 170px 30px 30px 170px;
  }
  .customer-section .owl-carousel .owl-item img {
    max-width: 30px;
  }
  .customer-section .card-body {
    padding: 50px 60px;
  }
  .customer-section h4 {
    font-weight: 800;
    line-height: 1.25;
  }
  .customer-section h6 {
    font-weight: 300;
    line-height: 1.25;
  }
  .customer-section p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.44;
    margin-bottom: 0;
  }
  .harel-img {
    max-width: 260px;
  }
  .how-works .card-body {
    padding: 60px 20px;
  }
  .how-works p {
    line-height: 1.5;
    font-weight: 300;
  }
  .owl-nav button {
    font-size: 50px !important;
  }
  .owl-nav button.owl-prev {
    left: -70px;
  }
  .owl-nav button.owl-next {
    right: -70px;
  }
  .shape-1 .shape-left-1 {
    width: 138px;
    left: 5px;
    top: -177px;
  }
  .shape-1 .shape-left-2 {
    right: 154px;
    width: 137px;
    top: 9px;
  }
  .shape-2 .shape-top-2 {
    width: 505px;
    left: 25px;
    top: 180px;
  }
  .shape-2 .shape-left-2 {
    width: 8px;
    right: 47px;
    top: 25px;
  }
  .shape-3 .shape-bottom-3 {
    width: 130px;
    left: -3px;
    top: 319px;
  }
  .shape-3 .shape-right-3 {
    width: 6px;
    right: 203px;
    top: 119px;
  }
  .shape-4 .shape-top-4 {
    width: 150px;
    left: 75px;
    top: 6px;
  }
  .shape-4 .shape-left-4 {
    height: 66px;
    width: 635px;
    right: -99px;
    top: 42px;
  }
  .shape-5 .shape-circle-5 {
    height: 170px;
    width: 170px;
    left: -8px;
    top: 50px;
  }
  .shape-5 .shape-left-5 {
    width: 560px;
    right: 78px;
    top: 137px;
  }
  .service-section .card img {
    max-width: 34px;
  }
  .payment-section .payment-block {
    border-radius: 30px;
    border: solid 8px #103143;
    padding: 75px 30px;
  }
  .payment-section .payment-block p {
    line-height: 1.5;
    font-weight: 300;
  }
  .payment-section .payment-block p strong {
    font-weight: 800;
  }
  .payment-section img {
    position: absolute;
    top: 156px;
    left: -18px;
  }
  .how-works .card {
    min-height: 266px;
    max-height: 266px;
  }
  .how-works .card h6 {
    font-weight: 800;
    font-size: 24px;
    margin-top: 20px;

    line-height: 1.25;
  }
  footer h6 {
    font-size: 14px;
    font-weight: bold;
    line-height: 2.57;
  }
  footer {
    padding: 100px 0;
  }
}

@media only screen and (max-width: 1200px) {
  .shape-1:before {
    right: 79px;
    top: -10px;
  }
  .shape-2:before {
    left: 0px;
    top: 106px;
  }
  .shape-5:before {
    width: 326px;
    right: 77px;
    top: 80px;
  }
  .shape-4:after {
    width: 320px;
  }
}

@media only screen and (min-width: 991px) and (max-width: 1200px) {
  header .navbar-brand img {
    max-width: 130px;
    margin-left: 79px;
  }

  header .navbar-light .navbar-nav .nav-item {
    padding: 0 12px;
  }


  .shape-1 .shape-left-1 {
    left: 0;
    top: -108px;
  }

  .shape-1 .shape-left-2 {
    right: 80px;
  }


  .shape-2 .shape-top-2 {
    width: 249px;
    left: 0px;
    top: 107px;
  }

  .service-section p {
    font-size: 14px;
  }

  .service-section .card-body {
    padding: 20px 9px;
  }


  .payment-section img {
    top: 205px;
  }

  .shape-3 .shape-right-3 {
    width: 5px;
    right: 129px;
    top: 163px;
  }

  .how-works .card h6 {
    font-size: 18px;
  }

  .how-works .card-body {
    padding: 25px 15px;
  }

  .how-works .card {
    min-height: 182px;
  }

  .shape-5 .shape-left-5 {
    width: 285px;
    right: 25px;
    top: 80px;
  }

  .shape-5 .shape-circle-5 {
    height: 100px;
    width: 100px;
    left: -13px;
  }

}


@media only screen and (min-width: 767px) and (max-width: 991px) {

  .shape-1 .shape-left-1 {
    width: 84px;
    left: 0;
    top: -43px;
  }

  .shape-2 .shape-top-2 {
    width: 217px;
    left: 0px;
    top: 78px;
  }

  .payment-section img {
    position: absolute;
    top: 278px;

  }

  .shape-3 .shape-right-3 {
    width: 5px;
    right: 124px;
    top: 237px;
  }


  .shape-5 .shape-left-5 {
    width: 240px;
    right: 28px;
    top: 64px;
  }

  .shape-5 .shape-circle-5 {
    height: 90px;
    width: 90px;
    left: -6px;
  }
}

@media only screen and (max-width: 991px) {
  header .navbar-light .navbar-nav .nav-item {
    padding: 0;
    border-bottom: 1px solid #fefefe91 !important;
  }
  header .navbar-light .navbar-nav .nav-item:last-child {
    border-bottom: none !important;
  }
  header .navbar-light .navbar-nav.navbar-center .active>.nav-link,
  header .navbar-light .navbar-nav.navbar-center .nav-item:hover .nav-link {
    padding: 10px 0px 10px;
  }
  header .navbar-light .navbar-nav .nav-link {
    padding: 6px 0px;
  }
  header .navbar-nav {
    margin: 10px 0 !important;
    text-align: center;
  }
  header .navbar.navbar-expand-lg {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    background: #fff;
  }
  .header-shadow .navbar-expand-lg {
    box-shadow: 0px 3px 46px 0 rgba(0, 0, 0, 0.09);
  }
  .navbar-toggler {
    border: none;
    color: #002c4c !important;
  }
  header .navbar-brand img {
    max-width: 102px;
    margin-left: 46px;
  }
  main {
    padding-top: 52px;
  }
  header .btn {
    width: 190px;
  }
  .shape-2:before {
    left: 0px;
    top: 78px;
    width: 209px;
  }
  .shape-5:before {
    width: 216px;
    right: 53px;
    top: 61px;
  }
  .shape-5:after {
    height: 80px;
    width: 80px;
    left: -12px;
    top: 22px;
  }

  .file__input--label:after {
    margin-right: 40px;

}
}

@media (max-width: 767px) {
  footer {
    padding: 40px 0;
  }
  .owner-section img {
    margin-top: 30px;
  }
  .customer-section {
    padding: 0 0 30px;
  }
  .btn-primary {
    box-shadow: 0px 7px 18px 0 rgb(254 58 122 / 22%);
  }
  .payment-section img {
    position: relative;
    top: 0;
    left: 0;
  }
  .payment-section .payment-block {
    border: none;
    padding: 0;
  }
  .payment-section {
    padding: 0 0;
  }
  .payment-section p strong {
    display: block;
  }
  .shape-2:after {
    display: none;
  }
  .shape-5 {
    max-width: 300px;
    margin: 0 auto;
  }
  .shape-5:before {
    width: 188px;
    right: 40px;
    top: 96px;
  }
  .shape-5:after {
    height: 60px;
    width: 60px;
    left: -9px;
    top: 52px;
  }
  .hero-section {
    padding: 60px 0;
  }
  .shape-1 {
    max-width: 260px;
    margin-top: 30px;
  }
  .shape-1:after {
    width: 50px;
    left: 15px;
    top: 51px;
  }
  .shape-1:before {
    width: 55px;
    right: 116px;
    top: 15px;
  }
  .shape-2 {
    max-width: 280px;
    margin: 0 auto;
  }
  .shape-2:before {
    left: 0px;
    top: 85px;
    width: 185px;
  }
  .partner-section .inner-block {
    border-radius: 30px;
    padding: 30px 30px;
    margin: 0 15px;
  }
  .partner-section .shape-4 {
    max-width: 220px;
    top: 50px;
    right: 92px;
    margin: 0 auto;
  }
  .shape-4:before {
    width: 70px;
    left: 56px;
    top: -15px;
  }
  .shape-4:after {
    max-width: 240px;
    right: 0;
    top: 30px;
  }
  .shape-3 {
    max-width: 250px;
    margin: 0 auto 30px;
    position: relative;
  }
  .shape-3:before {
    width: 78px;
    left: 16px;
    top: 25px;
    z-index: -5;
  }
  .shape-3:after {
    width: 5px;
    right: 122px;
    top: -20px;
  }
  .service-section {
    padding: 0 0 20px;
  }
  .guarantee-section {
    padding: 0 0 20px;
  }
  .shape-5 .shape-left-5 {
    width: 240px;
    right: 19px;
    top: 75px;
  }
  .shape-1 .shape-left-2 {
    right: 60px;
    top: 7px;
  }
  .shape-1 .shape-left-1 {
    width: 72px;
    left: 2px;
    top: -66px;
  }
  .shape-2 .shape-top-2 {
    width: 168px;
    left: 0px;
    top: 66px;
  }
  .shape-3 .shape-bottom-3 {
    width: 86px;
    left: -11px;
    top: 129px;
  }
  .shape-3 .shape-right-3 {
    width: 5px;
    right: 120px;
    top: -31px;
  }
  .shape-5 .shape-circle-5 {
    width: 70px;
    height: 70px;
    left: -7px;
    top: 51px;
  }
  .shape-4 .shape-left-4 {
    width: 243px;
    right: -51px;
    top: 31px;
  }
  .partner-section {
    padding: 20px 0 40px;
  }
  .shape-4 .shape-top-4 {
    width: 136px;
    left: 35px;
    top: 1px;
  }
  .social-link img {
    height: 34px;
  }
  header .navbar-brand img {
    margin-left: 46px;
  }

  .how-works .card {
    min-height: 230px;
  }

  .form-box .logo {
    max-width: 102px;
  }

  .backward-arrow {
    top: 15px;
  }

  .form-box {
    padding: 20px 0;
  }

  .form-box h2 {
    font-size: 24px;
  }


  .form-box h5 {
    font-size: 18px;
  }

  .file__input--label {
    flex-wrap: wrap;
    font-size: 12px;
    margin: 0 auto;
    justify-content: center;
  }

  .file__input--label:after {
    margin-top: 15px;
        margin-bottom: 10px;

  }

  .wrap {
    padding: 30px 15px 5px;
  } 

  .info-icon {
    position: absolute;
    top: -15px;
    left: 0px;
    width: 15px;
}

.file__input--label:before {
      top: unset;
    bottom: 25px;
    left: unset;
    margin-left: 74px;
    height: 12px;
    }

}

@media (max-width: 576px) {
  .main-heading {
    font-size: 36px;
    line-height: 1.11;
  }
  .copy-right img {
    display: block;
  }
  footer .footer-link {
    flex-wrap: wrap;
  }
  footer .footer-link li {
    padding: 8px 10px;
  }
  footer .footer-link li a {
    font-size: 14px;
  }
  .service-section .card-body {
    padding: 20px;
  }
  .btn {
    padding: 17px 30px;
  }
  .how-works .btn {
    width: 149px;
    padding: 15px 15px;
  }
  .payment-section .btn {
    padding: 17px 20px;
  }
  .modal.left .modal-dialog,
  .modal.right .modal-dialog {
    max-width: 100%;
  }
  .guarantee-section .nav-pills {
    position: fixed;
    right: 10px;
    bottom: 8px;
    z-index: 9999999;
    margin-bottom: 0;
  }
  .guarantee-section .nav-pills .nav-link img {
    display: none;
  }
  .guarantee-section .nav-pills .nav-link {
    box-shadow: 0px 3px 46px 0 rgba(0, 0, 0, 0.23);
    background-color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 4px;
    font-size: 12px;
    font-weight: 800;
    text-align: center;
    line-height: 1;
    padding-top: 20px;
    margin: 3px;
    position: relative;
  }
  .guarantee-section .nav-pills .nav-link.active {
    color: #fff;
    background-color: #ff0083;
  }
  .guarantee-section .nav-pills .nav-link.active:before {
    content: "";
    background-image: url('../../assets/images/shape.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: -23px;
    left: 10%;
    width: 47px;
    height: 48px;
  }
  .guarantee-section p {
    line-height: 1.67;
    padding: 0 20px;
  }
  .shape-2 .shape-left-2 {
    display: none;
  }
  .service-section .card img {
    max-width: 24px;
  }
  .service-section .card h5 {
    margin-top: 10px;
    font-size: 18px;
  }
  .service-section .card p {
    line-height: 1.33;
    margin-bottom: 0;
  }
  .payment-section p {
    padding: 0 25px;
    margin-bottom: 5px !important;
  }
  .how-works .card-body {
    padding: 40px 30px;
  }
  .how-works .card h6 {
    margin-bottom: 0;
  }
  .customer-section .card-body {
    padding: 35px 25px;
  }
  .customer-section h4 {
    font-size: 18px;
  }

  .customer-section .owl-carousel .owl-item img {
    margin: 0 auto 40px;
  }

  .shape-2 {
    right: -42px;
    max-width: 360px;
    margin: 0 auto;
  }

  .shape-2 .shape-top-2 {
    max-width: 185px;
    left: -28px;
    top: 79px;
  }

  .shape-5 {
    max-width: 340px;
    right: -66px;
    margin: 0 auto;
  }

  .shape-5 .shape-left-5 {
    width: 254px;
    right: 27px;
    top: 88px;
  }


  .shape-4 .shape-left-4 {
    width: 347px;
    right: -4px;
    top: 31px;
    height: 50px;
  }

  .form-box .form-wizard-buttons .btn {
    min-width: 100%;
    max-width: 100%;
    font-size: 18px;
  }

  .form-box {
    padding: 20px 15px;
}

.form-box .bottom-link a {
  font-size: 12px;
}

.form-box .bottom-link {
    margin-top: 15px;
}

.form-box .form-group {
    margin-bottom: 15px;
}

}